*.gem
*.rbc
.bundle/
.config
.yardoc
InstalledFiles
_yardoc
coverage
lib/bundler/man
log/*.log
pkg
pkg/
rdoc
test/dummy/.sass-cache
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
test/reports
tmp
vendor/bundle
